@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.header {
  height: 100vh;
  background-image: url('/assets/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .textbox {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;

    @include respond(tab-port) {
      //   width: 90%;
    }

    h1 {
      color: $color-secondary;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 3.5rem;
    }
  }
}
