$color-primary: #f8fef5;
$color-secondary: #0e2431;
$color-accent: #28df99;

$color-grey-1: #68787c;
$color-grey-2: #b2bdba;
$color-grey-3: #54656c;

$color-white: #fff;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;
$border-radius: 3rem;
