@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

.Business {
  .header {
    // min-height: 90vh;
    background-image: url('/assets/background-backdrop.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    padding: 20rem 0 0;
    padding-bottom: 2rem;

    &.sm {
      padding: 12rem 0 0;
    }

    @include respond(tab-port) {
      margin-bottom: 0rem;
    }

    @include respond(phone) {
      background-repeat: repeat;
    }

    .textbox {
      text-align: center;
      margin-bottom: 10rem;
    }

    .features {
      width: calc(100vw - 20rem);
      margin: 0 auto 15rem;

      @include respond(tab-port) {
        width: 100%;
        padding: 0 2rem;
      }

      .featureRow {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 40rem;
        grid-gap: 2rem;

        &.sm {
          grid-auto-rows: 25rem;
        }

        @include respond(phone) {
          grid-template-columns: 1fr;
        }

        .feature {
          @include card;
          border-radius: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 3rem;
          flex: 1;
          text-align: center;

          @include respond(phone) {
            padding: 1.8rem;
          }

          img {
            width: 8rem;
            margin-bottom: 1rem;
          }

          h2 {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  .textbox {
    margin-bottom: 15rem;
    // margin-top: 20rem;
    padding: 0 5rem;
  }
}
