@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

.Feature {
  min-height: 100rem;
  position: relative;

  //   @include respond(tab-port) {
  //     min-height: 50vh;
  //   }

  .background {
    width: 100%;
    overflow-x: hidden;

    .backdrop {
      position: absolute;
      bottom: 6%;
      left: 50%;
      transform: translateX(-50%);
      height: 70%;
    }

    .model {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-35%);
      height: 85%;
    }

    @include respond(tab-port) {
      .backdrop {
        // height: auto;
        width: 100%;
        bottom: 3%;
        object-fit: contain;
      }

      .model {
        // height: auto;
        // width: 100%;
        bottom: 0%;
        object-fit: contain;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        178.72deg,
        rgba(217, 217, 217, 0) 31.62%,
        #f8fef5 78.1%
      );
    }
  }

  .features {
    .feature {
      @include card;
      position: absolute;
      z-index: 10;
      border-radius: 20px;
      display: inline-block;
      display: flex;
      align-items: center;
      padding: 1rem;
      cursor: pointer;

      img {
        width: 5rem;
      }

      h2 {
        margin-left: 1rem;
      }

      &:nth-child(1) {
        top: 25%;
        left: 15%;
      }

      &:nth-child(2) {
        top: 15%;
        right: 23%;
      }

      &:nth-child(3) {
        top: 50%;
        left: 5%;
      }

      &:nth-child(4) {
        top: 37%;
        right: 10%;
      }

      @include respond(tab-land) {
        &:nth-child(1) {
          top: 15%;
          left: 5%;
        }

        &:nth-child(2) {
          top: 5%;
          right: 5%;
        }

        &:nth-child(3) {
          top: 50%;
          left: 2%;
        }

        &:nth-child(4) {
          top: 60%;
          right: 2%;
        }
      }
    }
  }

  .marquee {
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
    width: 100vw;

    @include respond(tab-port) {
      bottom: 5%;
    }

    h1 {
      white-space: nowrap;
    }
  }

  @media only screen and (max-width: 750px) {
    min-height: 70rem;

    .model {
      display: none;
    }

    .features {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 5rem;

      .feature {
        position: static;
        margin: 1rem;
      }
    }
  }
}

.comingSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;

  img {
    width: 20rem;
    margin-bottom: 1.5rem;
  }
}

.about {
  text-align: center;
  padding: 5rem 8rem;
  margin: 7rem 12rem 10rem;

  @include respond(tab-port) {
    margin: 7rem 7rem 10rem;
  }

  @include respond(phone) {
    margin: 4rem 0rem 16rem;
    padding: 3rem 4rem;
  }

  p {
    line-height: 170%;
    margin-bottom: 4rem !important;
  }
}
