@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

.About {
  .header {
    // min-height: 90vh;
    background-image: url('/assets/background-backdrop.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    padding: 25rem 0 0;
    margin-bottom: 10rem;
    padding-bottom: 2rem;

    @include respond(tab-port) {
      margin-bottom: 0rem;
    }

    @include respond(phone) {
      background-repeat: repeat;
    }

    .textbox {
      text-align: center;
    }

    .galleryContained {
      width: 100%;
      overflow: hidden;
    }

    .galleryComposition {
      margin-top: 25rem;
      margin-bottom: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1.2);

      @include respond(tab-port) {
        margin-top: 17rem;
      }

      .composition {
        height: 50rem;
        width: 38rem;
        border-radius: 6rem;
        overflow: hidden;

        @include respond(tab-port) {
          height: 38rem;
          border-radius: 4rem;
        }

        @include respond(tab-port) {
          height: 28rem;
          border-radius: 2rem;
        }

        &:not(:last-child) {
          margin-right: 2rem;

          @include respond(tab-port) {
            margin-right: 1.5rem;
          }

          @include respond(tab-port) {
            margin-right: 1rem;
          }
        }

        &:nth-child(2) {
          height: 44rem;
          align-self: flex-end;

          @include respond(tab-port) {
            height: 32rem;
          }

          @include respond(tab-port) {
            height: 22rem;
          }
        }

        &:nth-child(3) {
          height: 47rem;
          align-self: flex-start;
          margin-top: -3rem;

          @include respond(tab-port) {
            height: 37rem;
          }

          @include respond(tab-port) {
            height: 27rem;
          }
        }

        &:nth-child(4) {
          height: 43rem;
          align-self: flex-end;
          margin-bottom: -2rem;

          @include respond(tab-port) {
            height: 33rem;
          }

          @include respond(tab-port) {
            height: 23rem;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .about {
    @include card;
    width: calc((100vw - 12rem));
    border-radius: 3rem;
    padding: 5rem;
    margin: 0 auto -10rem;
    position: relative;
    z-index: 1;
    text-align: center;

    p {
      line-height: 170%;
    }

    @include respond(tab-port) {
      width: calc((100vw - 3rem));
    }
  }

  .values {
    background-color: $color-secondary;
    padding: 15rem 2rem 2rem;
    display: flex;

    @include respond(tab-port) {
      padding: 15rem 1.5rem 1.5rem;
    }

    @include respond(phone) {
      flex-direction: column;
    }

    .value {
      @include card;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 3rem;
      text-align: center;
      flex: 1;

      @include respond(tab-port) {
        padding: 1.5rem;
      }

      @include respond(tab-port) {
        padding: 3rem;
      }

      img {
        width: 8rem;
        margin-bottom: 2rem;
      }

      h2 {
        margin-bottom: 1.8rem;
      }

      &:not(:last-child) {
        margin-right: 2rem;

        @include respond(tab-port) {
          margin-right: 1.5rem;
        }

        @include respond(tab-port) {
          margin-right: 0;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
